.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    box-shadow: 0 8px 12px rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;
    margin-top: 4px;

    input{
        width: 95%;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        font-size: 18px;
        outline: none;
        border: 1px solid #9b9b9b;
    }

    button{
        width: 50%;
        margin-top: 10px;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }

    small{
        color: red;
        font-size: 13px;
        display: flex;
        margin-top: 4px;     
    }
}